* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", system-ui, sans-serif;
    background-color: #f7f9fc;
    color: #1f2937;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
}